@import url('./external_css4.css');
/*@import url( 'http://localhost:3000/css/styles.css' );*/

.da-button-set.da-field-buttons .btn{
  color: #fff;
  border-color: #E80D4E;
}

button.btn.btn-link.btn-da.daquestionbackbutton.danonsubmit {
    background-color: grey;
    border-color: gray;
}


fieldset.da-button-set.da-field-buttons {
    float: right;
}

.daformcontinue fieldset.da-button-set.da-field-buttons {
    float: none;
}

svg.svg-inline--fa.fa-circle-question{
  color: purple;
}
.mt-2 {
  margin-top: 1.5rem!important;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #E80D4E;
  --bs-btn-border-color: #E80D4E;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #E80D4E;
  --bs-btn-hover-border-color: #E80D4E;
  --bs-btn-focus-shadow-rgb: 245, 173, 39;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E80D4E;
  --bs-btn-active-border-color: #E80D4E;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #E80D4E;
  --bs-btn-disabled-border-color: #E80D4E;
}


.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #E80D4E;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(209, 108, 142, 0.25);
}


.btn-link {
text-decoration: none;
}

a.btn.btn-link.btn-da.daquestionactionbutton.danonsubmit {
    color: #E80D4E;
}

.btn.btn-da.daquestionactionbutton.danonsubmit.btn-light[href="/interview?action=eyJhY3Rpb24iOiAicmVzdGFydF9pbnRlcnZpZXciLCAiYXJndW1lbnRzIjoge319&i=docassemble.playground3QDRO:qdro.yml"]{
  float: none
}

a.btn.btn-da.daquestionactionbutton.danonsubmit.btn-light {
  float: right;
  background-color: #ffc107
}
button.btn.btn-da.btn-secondary {
background-color: #E80D4E
}

button[value="True"][name="Y2hlY2sx"] {
background-color: #ffffff
}

button[value="True"][name="Y2hlY2sy"] {
background-color: #ffffff
}

button[value="False"][name="Y2hlY2sx"] {
padding: 0.375rem 1.8rem ;
}

button[value="False"][name="Y2hlY2sy"] {
padding: 0.375rem 1.8rem ;
}

#stripe-submit {
padding: 0.375rem 1.8rem ;
color: #000000
}

.btn.btn-da.btn-primary[name="ZHJhZnRfc2hvd24"]{
float: right
}

.btn.btn-da.btn-secondary[name="ZHJhZnRfc2hvd24"]{
float: right
}

.btn.btn-da.btn-primary[value="True"][name="Y2hlY2sx"]{
color: #E80D4E
}

button.btn.btn-da.btn-light[value="False"][name="Y2hlY2sx"] {
background-color: #E80D4E 
}

button.btn.btn-da.btn-light[value="True"][name="Y2hlY2sx"] { 
color: #E80D4E
}

button.btn.btn-da.btn-secondary[value="True"][name="Y2hlY2sx"] {
background-color: #ffffff
color: #E80D4E
}



.btn.btn-da.btn-primary[value="True"][name="Y2hlY2sy"]{
color: #E80D4E
}

button.btn.btn-da.btn-light[value="False"][name="Y2hlY2sy"] {
background-color: #E80D4E 
}

button.btn.btn-da.btn-light[value="True"][name="Y2hlY2sy"] { 
color: #E80D4E
}

button.btn.btn-da.btn-secondary[value="True"][name="Y2hlY2sy"] {
background-color: #ffffff
color: #E80D4E
}





button[name="dGFyZ2V0X3VybA"]{
display: none
}

#dropdown{
  float: right;
  font-size: 1.22rem;
  color: #e80d4e !important;
  border-color: #fff;
}

#dropdown:focus {
        outline: none;
      }

b.title {
  color: #E80D4E;
}

#dasourcetoggle {
display: none;
}

.form-select:focus{
    color: #212529;
    background-color: #fff;
    border-color: #E80D4E;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(209, 108, 142, 0.25);
}

.form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: #E80D4E;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(209, 108, 142, 0.25);
}

.dropdown-item.active, .dropdown-item:active{
    color: #212529;
    background-color: #E80D4E;
}

a.btn.btn-primary.btn-darevisit[href="/restart_session?i=docassemble.playground3QDRO:adverse.yml"] {
    float: right;
    margin-left: 5px;
}

.da-attachment-alert.da-attachment-alert-multiple.alert.alert-success {
    margin-top: 30px;
}

.da-attachment-alert.da-attachment-alert-single.alert.alert-success{
  margin-top: 30px;
}

.row.da-review.da-review-button.bg-light.pt-2.my-2 h4 {
  color: #797878;
  font-size: larger;
}

#stripe-submit{
  margin-left: 5px;
  float: right;
}