.da-button-set.da-field-buttons .btn{
  color: #000000;
  border-color: #c69565;
}
svg.svg-inline--fa.fa-circle-question{
  color: purple;
}
.mt-2 {
  margin-top: 1.5rem!important;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c69565;
  --bs-btn-border-color: #c69565;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c69565;
  --bs-btn-hover-border-color: #c69565;
  --bs-btn-focus-shadow-rgb: 245, 173, 39;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c69565;
  --bs-btn-active-border-color: #c69565;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #c69565;
  --bs-btn-disabled-border-color: #c69565;
}


.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #c69565;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(209, 108, 142, 0.25);
}


.btn-link {
text-decoration: none;
}



a.btn.btn-warning.btn-da.daquestionactionbutton.danonsubmit {
float: right;
}
a.btn.btn-da.daquestionactionbutton.danonsubmit.btn-light {
  float: right;
  background-color: #ffc107
}
button.btn.btn-da.btn-secondary {
background-color: #c69565
}

button[value="True"][name="Y2hlY2sx"] {
float: right;
background-color: #ffffff
}

button[value="False"][name="Y2hlY2sx"] {
padding: 0.375rem 1.8rem ;
}

#stripe-submit {
padding: 0.375rem 1.8rem ;
color: #000000
}

button.btn.btn-da.btn-light[value="False"][name="Y2hlY2sx"] {
background-color: #c69565
}
button.btn.btn-da.btn-secondary[value="True"][name="Y2hlY2sx"] {
background-color: #ffffff
}

button[name="dGFyZ2V0X3VybA"]{
display: none
}

#dropdown{
  float: right;
  font-size: 1.22rem;
  color: #c69565 !important;
  border-color: #fff;
}

#dropdown:focus {
        outline: none;
      }

b.title {
  color: #c69565;
}

#dasourcetoggle {
display: none;
}

.form-select:focus{
    color: #212529;
    background-color: #fff;
    border-color: #c69565;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(209, 108, 142, 0.25);
}

.form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: #c69565;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(209, 108, 142, 0.25);
}

.dropdown-item.active, .dropdown-item:active{
    color: #212529;
    background-color: #c69565;;
}

